p {
	color: yellow;
	font-size: 1.5rem;
	line-height: 1.25;
}

h1 {
	color: yellow;
}

body {
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(149,29,179, 1);
    -moz-transition: all .9s linear;
    -webkit-transition: all .9s linear;
    -ms-transition: all .9s linear;
    -o-transition: all .9s linear;
    transition: all .9s linear;
  }

    &:hover:before {
    background: none;
  }
 }
  




.main {
	z-index: 2;
}

.top-header {
	display: none;
}

.about-title {
	margin-top: 40%;
	margin-left: 230px;
	background-image: url(../img/logo.png);
	display: inline-block;
	height: 220px;
	width: 150%;
	background-size: 100%;
	background-repeat: no-repeat;
} // .about-title

.sidebar {
	background-image: url('../img/menu-bg.png');
	background-repeat: repeat-y;
	height: 902px;
	display: inline-block;
	z-index: 1;
	margin-right: -20%;
}

#menu-primary-navigation-1 {
	list-style: none;
	margin-left: -15px;
	margin-top: 530px;
	font-size: 1.55em;

	li {

		a {
			color: #fa4dfd;
			-o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
			transition:.5s;

			&:hover {
				color: #fff;
			}
		}
	} //li
} //#menu-primary-navigation-1

.homepage {
	position: relative;
	top: -448px;
}

.menu-spacechrist,
.menu-about,
.menu-blog,
.menu-contact {
	background: #000;
	width: 250px;
}

#groovy {
	display: none;
	color: #000;
	font: bold 120px 'VT323', sans-serif;
	text-align: center;
	margin-top: -1000px;
	margin-left: -1080px;
	font-size:72px;
	position: relative;
	top:0;
	z-index: -1;

}