<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Keyboard display test in E major</title>
		<link rel="stylesheet" media="all" href="synth.css" /> 
	</head>
	<body>
		<div class="keyboard">
			<div class="white key"><p>A</p></div>
			<div class="black key"><p>A#</p></div>
			<div class="white key"><p>B</p></div>
			<div class="white key"><p>C</p></div>
			<div class="black key"><p>C#</p></div>
			<div class="white key"><p>D</p></div>
			<div class="black key"><p>D#</p></div>
			<div class="pressed white key"><p>E</p></div>
			<div class="white key"><p>F</p></div>
			<div class="black key"><p>F#</p></div>
			<div class="white key"><p>G</p></div>
			<div class="pressed black key"><p>G#</p></div>
			<div class="white key"><p>A</p></div>
			<div class="black key"><p>A#</p></div>
			<div class="pressed white key"><p>B</p></div>
			<div class="white key"><p>C</p></div>
			<div class="black key"><p>C#</p></div>
			<div class="white key"><p>D</p></div>
			<div class="black key"><p>D#</p></div>
			<div class="white key"><p>E</p></div>
			<div class="white key"><p>F</p></div>
			<div class="black key"><p>F#</p></div>
			<div class="white key"><p>G</p></div>
			<div class="black key"><p>G#</p></div>
			<div class="white key"><p>A</p></div>
		</div>
	</body>
</html>

